@media only screen and (min-width: 767px) {
    
    /* font */
    
    .body-text {
        font-size: 1.25rem;
        line-height: 1.68rem;
        letter-spacing: 0.02rem;
        margin: 0 0 2rem 0;
    }
    
    .heading-secondary {
         font-size: 2rem;
         line-height: 2.8rem;
    }

    /* header and footer */

    .h-f-container {
        height: 5rem;
    }

    .content-left {
        font-size: 1.75rem;
        letter-spacing: 0.1925rem;
    }

    .content-right {
        font-size: 1.2rem;
    }

    .footer-container {
        height: 17.5rem;
    }



    /* banner slogan */

    .banner-slogan {
        height: 11.25rem;
    }

    .slogan {
        font-size: 2.5rem;
        line-height: calc(2.5rem * 1.5);
        padding: 0rem;
    }


    /* carousel */

    .carousel-wrapper {
        max-width: 80rem;
    }

    .carousel-wrapper h2 {
        margin: 2.5rem 0 0 5rem;
    }

    .new-article {
        max-width: 70rem;
        max-height: 27.4375rem;
        flex-direction: row;
        gap: 1.25rem;
        padding: 2.5rem 1.5rem 3.75rem 1.5rem;
        margin: 2.5rem 5rem 2rem 5rem;
    }

    .new-article div {
        gap: 1rem;
    }

    li img {
        max-width: 32rem;
        max-height: 21rem;
        width: 50%;
    }

    li p {
        max-width: 32.6rem;
        max-height: 11.25rem;
    }

    li button {
        display: flex;
        justify-content: start;
        align-items: start;
    }

    .button-carousel {
        font-size: 1.3rem;
    }

    .carousel-buttons-container {
        justify-content: space-around;
        padding: 0 0 2rem 0;
    }


    /* posts list home page*/

    

    /* post page */

    .post-wrapper {
        padding-top: 6rem;
    }

    .post-details{
        /* flex-direction: row; */
        gap: 4rem;
        /* align-items: center; */
        font-size: 1.2rem;
        margin: .5rem 0;
    }



    
}


@media only screen and (min-width: 1095px) {


    /* header and footer */

    .h-f-container {
        padding: 0;
    }


    /* posts list home page*/

    .posts-wrapper {
        /* justify-content: space-between; */
        gap: 1rem;
        margin: 0 5rem 2rem 5rem;
    }

    article h3 {
        font-size: 2rem;
        line-height: 2.8rem;
    }
}

