:root {
    --color-text-body: #030724;
    --color-text-light: #FFFFFF;

    --color-theme-dark-blue: #121950;
    --color-theme-light-blue: #E8F0FF;
    --color-theme-light-orange: #FFE8C6;
    --color-theme-dark-orange: #FF9900;

    --color-hover-dark-blue: #3A4281;
}

