header {
    position: sticky;
    z-index: 10;
    top: 0;
}

.h-f-container {
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin: auto;  
    padding: 0 1.5rem 0 1.5rem;
}

.header-container {
    color: var(--color-theme-dark-blue);
    max-width: 1120px;
}

footer {
    background-color: var(--color-theme-dark-blue);
    color: #fff;
}

.footer-container {
    height: 106px;
    max-width: 1120px;
}

.content-left {
    display: flex;
    align-items: left;
    justify-content: start;
    padding: 0rem;
    font-size: 1rem;
    letter-spacing: 0.11rem;
}

.content-right {
    display: flex;
    justify-content: end;
    gap: 1rem;
    padding: 0rem;
    font-size: 0.7rem;
}


