.message-container {
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 85%;
    max-width: 500px;
}

.message-success {
    display: flex;
    background-color: var(--color-theme-dark-blue);
    color: #fff;
    justify-content: center;
    padding: 2rem 0rem;

}

.login-message-error {
    color: #A20000;
    font-size: .8rem;
}