.ui-wrapper {
    margin: 1rem .5rem;
}

.ui-container {
    gap: .5rem;
    margin: .5rem 0;
}

.ui-container .button-small {
    font-size: .7rem;
    padding: .2rem .3rem;
    border: solid var(--color-theme-dark-blue) .5px;
}

.ui-container div {
    color: var(--color-theme-dark-blue);
}

.sort-posts-container {
    /* margin: 1rem .5rem; */
}

.filter-posts-container {
    /* margin: 0 .5rem 1.5rem .5rem */
}

/* .ui-buttons {
    gap: .5rem;
    margin-top: .5rem;
} */

.pagination {
    padding: 1rem;
    gap: 1rem;
}


