.table-wrapper {
    margin: 3rem 1.5rem;
}

.table-wrapper table {
    width: 100%;
}

table thead, table tbody {
    color: var(--color-theme-dark-blue);
    font-family: Tahoma;
    font-size: 1rem;
}

tbody tr {
    background-color: var(--color-theme-light-blue);
    height: 50px;
}

tbody tr td {
    padding: 0.5rem;
}

tbody tr td:nth-child(1) {
    min-width: 9rem;
    max-width: 24rem;
}

tbody tr td:nth-child(2) {
    min-width: 7rem;
    max-width: 16rem;
}

tbody tr td:nth-last-child(-n+4) {
    width: 7rem;
}

thead tr th {
    text-align: left;
    padding-bottom: .5rem;
}

tbody tr td:nth-last-child(-n+3) {
    text-align: center;
    vertical-align: middle;
}

.hide {
    display: none;
}