.post-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 52rem;
    margin: auto;
    padding: 4rem 1.5rem 2rem 1.5rem;
}

.post-wrapper img {
    width: 100%;
    object-fit: cover;
}

.post-container {
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 43rem;
}

.post-container h1 {
    margin-bottom: 1.5rem;
    color: var(--color-theme-dark-blue);
}

.post-details {
    display: inherit;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    gap: 1rem;
    font-size: 0.9rem;
    color: var(--color-theme-dark-blue);
}

.share-icon {
    cursor: pointer;
    transition: color 0.3s;
    margin-left: 1.5rem;
    font-size: 1rem;
}

.share-icon:hover {
    color: var(--color-theme-dark-orange);
}



